In [22]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree


balance_data = pd.read_csv(
'/home/harsh/pythonClass/machineLearningPython/tennis.csv',
                           sep= ',')

print("Dataset Lenght:: ", len(balance_data))
print("Dataset Shape:: ", balance_data.shape)

#Dataset Lenght::  625
#Dataset Shape::  (625, 5)
print ("Dataset::")
balance_data.head(14)

Dataset Lenght::  14
Dataset Shape::  (14, 5)
Dataset::

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [23]:
def convert_yes_no(txt):
    if 'yes' in txt:
        return 1
    else:
        return 0

In [24]:
#converting categorical data into integer & 0,1
balance_data.windy = balance_data.windy.astype(int)
#balance_data.play = balance_data.play.astype(int)
balance_data.play = balance_data.play.apply(convert_yes_no)

In [25]:
balance_data.head()

    outlook  temp humidity  windy  play
0     sunny   hot     high      0     0
1     sunny   hot     high      1     0
2  overcast   hot     high      0     1
3     rainy  mild     high      0     1
4     rainy  cool   normal      0     1

In [26]:
balance_data = pd.get_dummies(balance_data)

In [27]:
balance_data.head()

,windy,play,outlook_overcast,outlook_rainy,outlook_sunny,temp_cool,temp_hot,temp_mild,humidity_high,humidity_normal
0,0,0,0,0,1,0,1,0,1,0
1,1,0,0,0,1,0,1,0,1,0
2,0,1,1,0,0,0,1,0,1,0
3,0,1,0,1,0,0,0,1,1,0
4,0,1,0,1,0,1,0,0,0,1

In [30]:
#X = balance_data.values[:, 2:9]
#Y = balance_data.values[:,1]

X = balance_data.iloc[:,balance_data.columns != 'play']
Y = balance_data.play
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)

In [33]:
print(X_train)
print(y_train)

    windy  outlook_overcast  outlook_rainy  outlook_sunny  temp_cool  \
4       0                 0              1              0          1
6       1                 1              0              0          1
2       0                 1              0              0          0
0       0                 0              0              1          0
10      1                 0              0              1          0
7       0                 0              0              1          0
3       0                 0              1              0          0
13      1                 0              1              0          0
8       0                 0              0              1          1

    temp_hot  temp_mild  humidity_high  humidity_normal
4          0          0              0                1
6          0          0              0                1
2          1          0              1                0
0          1          0              1                0
10         0          1              0                1
7          0          1              1                0
3          0          1              1                0
13         0          1              1                0
8          0          0              0                1
4     1
6     1
2     1
0     0
10    1
7     0
3     1
13    0
8     1
Name: play, dtype: int64

In [34]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100)
clf_gini.fit(X_train, y_train)
print(clf_gini.predict([[1,1,1,1,1,1,1,1,1]]))
y_pred = clf_gini.predict(X_test)
print(y_pred)

print("Accuracy is", accuracy_score(y_test,y_pred)*100)

[1]
[0 1 1 0 1]
Accuracy is 60.0